:sass

  .center 
    text-align: center
  .margin
    margin: 30px
  .width-buttom
    width: 200px !important
    
  .brand-header img 
    width: 100px
    margin: 20px
  
  .brand-header
    background: white
    float: left
    width: 100%
    text-align: center
    margin: 4px 0 0 0

#main-panel
.row
  .col-md-offset-3.col-md-6
    #login.brand-header
      = image_tag 'logo/main-logo.png', class: 'main-logo'
%h1.center{style: "margin-bottom: 100px"}
  Ubuntu Power
%h4
  = link_to "Admin Panel", rails_admin.dashboard_path, class: 'btn btn-primary btn-lg margin width-buttom'
  = "Click here to access the admin dashboard"
%h4 
  = link_to "Update Database", users_update_db_path, method: :post, class: 'btn btn-success btn-lg margin width-buttom'
  = "Click here to update database"
%h4 
  = link_to "Input issues form", new_alert_path, class: 'btn btn-default btn-lg margin width-buttom'
  = "Click here to get access to the input issues form ('field employees' have different login)"
%p{ style: "margin-top: 150px"}
  %strong Notes: 

%ul.list-group
  %li.list-group-item 
    When the database is updated (green buttom above) all the information from the Steama database is downloaded into this platform and alerts are created automatically (they can be also added manually).
  %li.list-group-item 
    Whenever a Alert record is created (automatically or manually) a message is sent to a slack channel. 
  %li.list-group-item 
    Current alers created are:
    %ol
      %li negative_account: An alert is created an account_balance is negative
  %li.list-group-item 
    Data from the admin panel can be filtered and downloaded using the 'Export' button
  %li.list-group-item 
    Current database is setup to 140 users, please let me know when this number may be exceeded.
  %li.list-group-item 
    The 'green button' is activated automatically 3 times a day. You can see 
    = link_to "here", "/sidekiq"
    here each time that the button is clicked automatically. 
  
