:sass

  .center 
    text-align: center
  .margin
    margin: 30px
  .width-buttom
    width: 200px !important
    
  .brand-header img 
    width: 100px
    margin: 20px
  
  .brand-header
    background: white
    float: left
    width: 100%
    text-align: center
    margin: 4px 0 0 0

#main-panel

.center{style: "margin-bottom: 100px"}
  %h1
    = "#{current_user.name.capitalize}'s dashboard"
  %p
    -if current_user.role == "manager"
      = "Manager user"
    - else
      = "Super user"
%h4
  = link_to "Admin Panel", rails_admin.dashboard_path, class: 'btn btn-primary btn-lg margin width-buttom', id: "admin-panel-button"
  = "Click here to access the admin dashboard"
%h4 
  = link_to "Update Database", users_update_db_path, method: :post, class: 'btn btn-success btn-lg margin width-buttom', id: "update-database-button"
  = "Click here to update database"
%h4 
  = link_to "Input issues form", new_alert_path, class: 'btn btn-default btn-lg margin width-buttom'
  = "Click here to get access to the input issues form ('field employees' have different login)"
%p{ style: "margin-top: 150px"}

  
