%p
  - @alert.created_by
  - if @alert.customer
    = @alert.customer.id
    = @alert.customer.first_name
    = @alert.customer.last_name
    = @alert.customer.id
  = @alert.type_alert
  = @alert.description
  = @alert.status
  = @alert.created_at 
