:sass

  .center 
    text-align: center

  .margin
    margin: 30px

:css

  .nav-tabs > li {
      float:none;
      display:inline-block;
      zoom:1;
  }

  .nav-tabs {
      text-align:center;
  }

.center{style: "margin-bottom: 50px"}
  %h1
    = "My Alerts"

#show_my_alerts
#exTab2.container
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#1"} My Open Alert
    %li
      %a{"data-toggle" => "tab", :href => "#2", id: "resolved-alerts"} My Resolved Alerts
    %li
      %a{"data-toggle" => "tab", :href => "#3"} All Open Alerts
    %li
      %a{"data-toggle" => "tab", :href => "#4"} All Resolved Alerts
  .tab-content
    #1.tab-pane.active
      %p.margin.center
        - unless current_user.role == "field_user"
          = "Click here to see more info about your alerts"
          %br/
          = link_to "Alerts in Admin Panel", "/admin/alert?model_name=alert&scope=my_open", class: 'btn btn-primary btn-lg margin width-buttom'
      %table.table.table-striped
        - if @my_open_alerts.present? 
          %thead
            %tr
              %th.center Id
              %th.center Customer
              %th.center Type alert
              %th.center Created by
              %th.center Created at
              %th.center Notes
              %th.center Solution
              %th.center Resolve (click)
            %tbody
              - @my_open_alerts.each do |alert|
                #my_open_alert
                %tr
                  %td
                    = alert.id
                  %td.col-md-2
                    = alert.customer.name
                  %td.col-md-3
                    = alert.type_alert.name
                  %td.col-md-1
                    = alert.created_by.try(:name)
                  %td.col-md-1
                    = alert.created_at
                  %td.col-md-2
                    = alert.resolved_comments 
                  %td.col-md-2
                    = alert.issue.try(:resolution)
                  %td.col-md-2.center
                    = link_to alert_path(alert) do
                      .fa.fa-check

                    
        - else 
          %h4.center
            = "Well done #{current_user.name}! You do not have open alerts"    
    #2.tab-pane
      %p.margin
        %p.center
          = "You resolved #{@my_resolved_alerts.count} alerts so far"
        %br/
      %table.table.table-striped
        %thead
          %tr
            %th.center Id
            %th.center Customer
            %th.center Type alert
            %th.center Created by
            %th.center Created at
            %th.center Notes
            %th.center Solution
            %th.center Unresolve (click)
        %tbody
          - if @my_resolved_alerts.present?
            - @my_resolved_alerts.each do |alert|
              %tr
                %td
                  = alert.id
                %td.col-md-2
                  = alert.customer.name
                %td.col-md-3
                  = alert.type_alert.name
                %td.col-md-1
                  = alert.created_by.try(:name)
                %td.col-md-1
                  = alert.created_at
                %td.col-md-2
                  = alert.resolved_comments 
                %td.col-md-2
                  = alert.issue.try(:resolution) 
                %td.col-md-2.center
                  = link_to alert_path(alert) do
                    .fa.fa-times
    #3.tab-pane
      %table.table.table-striped
        %thead
          %tr
            %th.center Id
            %th.center Customer
            %th.center Type alert
            %th.center Assigned
            %th.center Created by
            %th.center Created at
            %th.center Notes
            %th.center Solution
            %th.center Resolve (click)
        %tbody
          - if @all_open_alerts.present?
            - @all_open_alerts.each do |alert|
              %tr
                %td
                  = alert.id
                %td.col-md-2
                  = alert.customer.name
                %td.col-md-3
                  = alert.type_alert.name
                %td.col-md-1
                  = alert.user.try(:name)
                %td.col-md-1
                  = alert.created_by.try(:name)
                %td.col-md-1
                  = alert.created_at
                %td.col-md-2
                  = alert.resolved_comments 
                %td.col-md-2
                  = alert.issue.try(:resolution) 
                %td.col-md-2.center
                  = link_to alert_path(alert) do
                    .fa.fa-check
    #4.tab-pane
      %table.table.table-striped
        %thead
          %tr
            %th.center Id
            %th.center Customer
            %th.center Type alert
            %th.center Assigned
            %th.center Created by
            %th.center Created at
            %th.center Notes
            %th.center Solution
            %th.center Unresolve (click)
        %tbody
          - if @all_resolved_alerts.present? 
            - @all_resolved_alerts.each do |alert|
              %tr
                %td
                  = alert.id
                %td.col-md-2
                  = alert.customer.name
                %td.col-md-3
                  = alert.type_alert.name
                %td.col-md-1
                  = alert.user.try(:name)
                %td.col-md-1
                  = alert.created_by.try(:name)
                %td.col-md-1
                  = alert.created_at
                %td.col-md-2
                  = alert.resolved_comments 
                %td.col-md-2
                  = alert.issue.try(:resolution)
                %td.col-md-2.center
                  = link_to alert_path(alert) do
                    .fa.fa-times
%hr/



