:sass

  .center 
    text-align: center
    
  .brand-header img 
    width: 100px
    margin: 20px
  
  .brand-header
    background: white
    float: left
    width: 100%
    text-align: center
    margin: 4px 0 0 0

.row
  .col-md-offset-3.col-md-6
    #login.brand-header
      = image_tag 'logo/main-logo.png', class: 'main-logo'
%h1.center{style: "margin-bottom: 100px"}
  Ubuntu Power
.row
  .panel-default.col-md-offset-2.col-md-8.center
    %h4
      = "Create an Issue"
    %p
      Please fill in this form to create a new issue
    .row
      .col-md-offset-2.col-md-8
        = simple_form_for Alert.new, url: alerts_path, method: :post do |f|
          = f.error_notification
          = render 'shared/flashes'
          = f.input :customer_id, label: false, collection: @customers, prompt: "Select customer" 
          = f.input :type_alert_id, label: false, collection: @type_alerts, prompt: "Select alert type" 
          = f.input :description, as: :text, label: false, placeholder: 'description', label: false, autofocus: true
          = f.input :status_id, label: false, collection: @status, prompt: "Select status" 
          = f.input :created_by, label: false, placeholder: 'Created_by', label: false, autofocus: true
          = f.button :submit, "Create issue", class: "button btn btn-lg btn-primary"
.row
  .col-md-offset-3.col-md-8.center{ style: "margin:30px"}
    = "To sign out click here:"
    = link_to t('.sign_out', default: 'Sign out'), destroy_user_session_path