:sass

  .center 
    text-align: center
    
  .brand-header img 
    width: 100px
    margin: 20px
  
  .brand-header
    background: white
    float: left
    width: 100%
    text-align: center
    margin: 4px 0 0 0

#alerts-new
.row
  .col-md-offset-3.col-md-6
    #login.brand-header
      = image_tag 'logo/main-logo.png', class: 'main-logo'
%h1.center{style: "margin-bottom: 100px"}
  Ubuntu Power
.row
  .panel-default.col-md-offset-2.col-md-8.center
    %h4
      = "Create an Issue"
    %p
      Please fill in this form to create a new issue
    .row
      .col-md-offset-2.col-md-8
        = simple_form_for Alert.new, url: alerts_path, method: :post do |f|
          = f.error_notification
          = render 'shared/flashes'
          = f.input :customer_id, label: false, collection: @customers, prompt: "Select customer" 
          = f.input :created_by, label: false, collection: @users, prompt: "Created by"
          = f.input :group_alert, as: :fake_select, label: "If issue already exist: select existing issue", collection: @group_alerts, prompt: "Select issue group" 
          = f.input :type_alert, as: :fake_select, label: false, collection: @type_alerts, prompt: "Select issue sub-group" 
          = f.input :resolved_response, as: :fake_select, label: false, collection: @type_alerts, prompt: "Select possible response"
          -# = f.input :response_description, as: :fake, as: :text, 
          = f.input :resolved_description, as: :fake, label: false, placeholder: "If issue has been 'resolved', please add how it was resolved", autofocus: true
          = f.input :description, as: :fake, label: "If issue does not exist: add new issue", placeholder: 'Add issue description', autofocus: true
          = f.input :resolved_response, as: :fake, label: false, placeholder: "If issue has been 'resolved', please add how it was resolved", autofocus: true
          = f.input :status, label: "Has de issue been resolved?", collection: ["Yes", "No"], prompt: "Select response"     
          = f.button :submit, "Create issue", class: "button btn btn-lg btn-primary", id: "submit-button"
.row
  .col-md-offset-3.col-md-8.center{ style: "margin:30px"}
    = "To sign out click here:"
    = link_to t('.sign_out', default: 'Sign out'), destroy_user_session_path