#alerts_graphs
  %p.title-graph
  = stat_by
  %p.title-graph Alerts in time
  = total_alerts_in_time
  %p.title-graph Number of Alerts in time (Alerts Group)
  = alerts_by_time
  %p.title-graph % By alert group
  = alerts_by_group_alert_donut
  %p.title-graph Alerts description (total)
  = alerts_by_type_alert
  %p.title-graph Alert group (total)
  = alerts_by_group_alert
  %p.title-graph Top 10 Solutions
  = top_10_solutions