%p.title-graph 
  = "Hourly usage on #{Date.yesterday.to_s}"
= yesterday_usage_hourly
%p.title-graph 
  = "Cumulative usage on #{Date.yesterday.to_s}"
  %br
  = "(blue series is maximum allow average consuption)"
= yesterday_usage_cumulative
%p.title-graph 
  = "Hourly usage last month"
= monthly_usage(DateTime.current.month-1.month)
%p.title-graph 
  = "Hourly usage this month"
= monthly_usage(DateTime.current.month)


