#usage_graphs
  %p.title-graph 
    = day_usage_cumulative
  %p.title-graph
    = "Click here to see total usage and usages per day reports (it may take some time to load)"
    %br/
    .title-graph{style: "margin: 50px"} 
      = link_to "Generate reports", total_usage_and_custommer_with_usage_per_day_usages_path, class: 'btn btn-primary btn-lg margin width-buttom', id: "usages-1"
  %p.title-graph
    = "Click here to see usage per weeks reports (it may take some time to load)"
    %br/
    .title-graph{style: "margin: 50px"} 
      = link_to "Generate weekly reports", custommer_with_usage_per_week_usages_path, class: 'btn btn-primary btn-lg margin width-buttom', id: "usages-2"
    
    