#usage_graphs
  - if @show_usage == true
    %p.title-graph
    - average_usage_per_day_during_24
    = total_usage_cumulative
    = plot_top_custommer_with_usage
    = plot_bottom_custommer_with_usage
    %p.title-graph
    - average_usage_per_week_during_24
    = plot_top_custommer_with_usage_per_week
    = plot_bottom_custommer_with_usage_per_week
    %p.title-graph 
    = day_usage_cumulative