:sass
  .col-centered
    float: none
    margin: 0 auto
    
  .title-graph 
    font-weight: bold
    text-align: center
    margin: 40px
  
  .nav-tabs > li
    float: none
    display: inline-block
    zoom: 1

  .nav-tabs 
    text-align: center

.center{style: "margin-bottom: 50px"}
  %h1

#show_my_alerts

.row
  .col-sm-10.col-sm-push-2
    #event_period.row{style: "margin: 50px"}
      = form_tag stats_path, remote: true do
        .col-sm-1
          %label{:for => "start_date"} Start date
        .col-sm-3
          .input-group
            %input#start_date.actual_range.form-control.datepicker{:name => "start_date", :type => "text"}/
            .input-group-addon
              %span.glyphicon.glyphicon-th
        .col-sm-1
          %label{:for => "end_date"} End date
        .col-sm-3
          .input-group
            %input#end_date.actual_range.form-control.datepicker{:name => "end_date", :type => "text"}/
            .input-group-addon
              %span.glyphicon.glyphicon-th
        .col-sm-2
          = submit_tag 'Update range', class: 'btn btn-primary'

#exTab2.container
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#1"} Alerts 
    %li
      %a{"data-toggle" => "tab", :href => "#2", id: "user-tab"} Users
    %li
      %a{"data-toggle" => "tab", :href => "#3"} Customers
    %li
      %a{"data-toggle" => "tab", :href => "#4", id: "usage-tab"} Usage 
  .tab-content
    #1.tab-pane.active
      = render partial: 'alerts_graphs'
    #2.tab-pane
      = render partial: 'users_graphs'
    #3.tab-pane
      = render partial: 'customers_graphs'
    #4.tab-pane
      = render partial: 'usage_graphs'

- content_for :bottom_js do
  -# Boostrap is not compatible with nav-tabs and chart.js https://github.com/ankane/chartkick/issues/28 && https://github.com/chartjs/Chart.js/issues/512
  :javascript
  
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var chart = Chartkick.charts["total-alerts-by_user"]
      chart.redraw();
      var chart = Chartkick.charts["top-10-customers-with-more-alerts"]
      chart.redraw();
      var chart = Chartkick.charts["top-10-customers-with-less-alerts"]
      chart.redraw();
    });
    
- content_for :bottom_js do
  :javascript
    $(document).ready(function() {
      $('#event_period').datepicker({
        inputs: $('.actual_range'),
        startDate: '-3y',
        endDate: '0d',
        todayBtn: 'linked',
        todayHighlight: 'true',
        format: 'yyyy-mm-dd'
      });
    });
      