!!!
%html{lang: I18n.locale}
  %head
    - if test?
      :javascript
        window.errors = []
        window.onerror = function(a, b, c){
          window.errors.push([a, b, c]);
          return false; // false: don't swallow exceptions.
        }
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title)
    -# = render 'shared/favicon'
    = csrf_meta_tags
    = action_cable_meta_tag
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    / Mobile Meta
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all'

  %body.container
    -# = render 'shared/navbar_selector'
    = render 'shared/flashes' unless controller_name.in?('alerts') && action_name == 'new'
    = yield
    -# = render 'shared/footer' unless action_name == "form"
    = javascript_include_tag 'application'
    = yield :bottom_js
    -# google analitics

